.appDownload {
  .close {
    width: 6%;
    height: 35%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }
  .download {
    width: 35%;
    height: 36%;
    display: inline-block;
    position: absolute;
    top: 52%;
    left: 38%;
  }
}
