body {
  padding: 0;
  margin: 0;
  #dongFang {
    width: 300px;
    height: 300px;
    background: url(../img/DF.png) no-repeat center;
    border: solid 1px red;
    border-radius: 5px;
    display: flex;
  }
}
