body {
  padding: 0;
  margin: 0 auto;
  max-width: 640px;
  a {
    text-decoration: none;
  }
  .defaultShareImg {
    width: 0;
    height: 0;
    overflow: hidden;
    font-size: 0;
  }
  .posRelative {
    position: relative;
  }
  .floatL {
    float: left;
  }
  .block_a {
    width: 100%;
    height: 100%;
    display: inline-block;
  }
  .clear {
    clear: both;
  }
}
